<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Contacto</title>
</head>
<body>
    <!-- Header Encabezado-->
     <header>
        <h1>Servicios Generales R&A</h1>
        <nav class="nav-links">
            <a href="../index.html">Inicio</a>
            <a href="../views/productos.html">Productos</a>
            <a href="../views/presupuesto.html">Presupuesto</a>
            <a href="../views/contacto.html">Contacto</a>
        </nav>
     </header>

     <h2>CONTACTO</h2>

     <div>
    <img src= "../images/camarena22.jpg" alt="camarena22" height="800" width="700">
    </div>


    <h3><br>SOBRE NOSOTROS</h3>
    <p>Servicios Generales R&A</p>
    <P>Empresa de mantenimiento de Jardines, Piscinas  y Reformas en General</P>
    <p>Direccion:Calle de camarena 228-Madrid</p>
    <p>Telefono:+34633432858</p>
    <p>E-mail:sgenerales.gerencia@gmail.com</p>
    <p>Codigo Postal:28047</p>
    <p>Pagina Web:www.servciciosgeneralesr&a.com</p>


    <footer>

        <p>Direccion:Calle de Camarena #228 - Madrid</p>
        <p>Telefono:+34633432858</p>
        <p>Aviso Legal</p>
       
        <a href ="https://www.facebook.com/MetaEspana/?brand_redir=108824017345866#" target ="blank">
            <img src = "https://cdn-icons-png.flaticon.com/128/4494/4494464.png" alt="facebook" width="30">
           </a>
            <a href ="https://www.instagram.com/Meta" target ="blank">
            <img src ="https://cdn-icons-png.flaticon.com/128/1384/1384015.png" alt="instagram" width="30"> 
            </a>
           <a href="https://www.whatsapp.com/" target ="blank">
           <img src ="https://cdn-icons-png.flaticon.com/128/1384/1384023.png" alt="whatsapp" width="30">
           </a>
        
    
       
     </footer>
   


</body>
</html>